<svg [attr.width]="width" [attr.height]="height" viewBox="0 0 29 28" xmlns="http://www.w3.org/2000/svg">
    <rect [ngClass]="this.moodComponentClasses[this.moodService.getCurrentMood()]" y="9.33333" width="4.14286" height="9.33333" rx="2.07143"/>
    <rect [ngClass]="this.moodComponentClasses[this.moodService.getCurrentMood()]" x="24.8572" y="9.33333" width="4.14286" height="9.33333" rx="2.07143"/>
    <rect [ngClass]="this.moodComponentClasses[this.moodService.getCurrentMood()]" x="5.80005" y="5.44444" width="4.97143" height="15.5556" rx="2.48571"/>
    <rect [ngClass]="this.moodComponentClasses[this.moodService.getCurrentMood()]" x="18.2285" y="5.44444" width="4.97143" height="15.5556" rx="2.48571"/>
    <rect [ngClass]="this.moodComponentClasses[this.moodService.getCurrentMood()]" x="12.4285" width="4.14286" height="28" rx="2.07143"/>
</svg>