<div *ngIf="screenSize === 'desktop'" class="mobile-layout">
  <app-top-result  [title]="'Title'" [subtitle]="'Subtitle'" [imageSrc]="'./../../../assets/images/album.png'"></app-top-result>
  
    <div class="songs dark:text-gray-200" style="float: left; width: 35%; position: relative;">
      <a style="position: absolute; top: 0; right: 0; margin: 10px; padding: 5px 10px; border-radius: 5px;cursor: pointer;">
        View More
      </a>
      <h1 class="py-4" style="font-weight: bold; font-size: larger;">Songs</h1>
      <div class="songs-container" style="display: flex; flex-direction: column; overflow-y: auto; height:20vw;">
        <div class="song-card dark:text-gray-200 bg-gray-component" 
            *ngFor="let song of songs" 
            style="flex: 0 0 auto; width: 100%; margin-bottom: 20px; display: flex; padding: 5px; border-radius: 10px; box-sizing: border-box; height:6vw; padding: .5vw;">
          <img src="./../../../assets/images/album.png" alt="Song Image" style="width: 30%; border-radius: 10px; margin-right: 10px;">
          <div>
            <h2 style="font-weight: bold;" class="py-2">asd</h2>
            <p class="py-1">asd</p>
          </div>
        </div>
      </div>
    </div>

    <div class="songs dark:text-gray-200" style="float: left; width: 35%; position: relative;">
      <a style="position: absolute; top: 0; right: 0; margin: 10px; padding: 5px 10px; border-radius: 5px;cursor: pointer;">
        View More
      </a>
      <h1 class="py-3" style="font-weight: bold; font-size: larger;">Playlist</h1>
      <div class="songs-container" style="display: flex; flex-direction: column; overflow-y: auto; height:20vw;">
        <div class="song-card dark:text-gray-200 bg-gray-component" 
            *ngFor="let song of songs" 
            style="flex: 0 0 auto; width: 100%; margin-bottom: 20px; display: flex; padding: 5px; border-radius: 10px; box-sizing: border-box; height:6vw;">
          <img src="./../../../assets/images/album.png" alt="Song Image" style="width: 30%; border-radius: 10px; margin-right: 10px;">
          <div>
            <h2 style="font-weight: bold;" class="py-2">asd</h2>
            <p class="py-1">asd</p>
          </div>
        </div>
      </div>
    </div>


    <div class="library-container songs-container dark:text-gray-200" style="width: 100%; overflow-x: auto; padding: 20px 0;">
      <h1 class="dark:text-gray-200 py-2" style="font-weight: bold; font-size: larger ;">From Your Library</h1>
      <div class="library-content" style="display: flex; flex-wrap: nowrap; gap: 20px; padding: 0 20px;">
        <div class="library-card" *ngFor="let song of songs" style="display: flex; flex-direction: column; align-items: center; min-width: 150px; max-width: 200px; vertical-align: top;">
          <img src="./../../../assets/images/album.png" alt="Album Image" style="width: 100%; max-width: 100%; border-radius: 10px;">
          <div style="text-align: center;">
            <h2 style="font-weight: bold; margin-top: 10px;">title</h2>
            <p>subtitle</p>
          </div>
        </div>
      </div>
    </div>
</div>

<div *ngIf="screenSize === 'mobile'" class="mobile-layout">
  <div [ngClass]="backgroundMoodClasses[this.moodService.getCurrentMood()]" class="min-h-screen" style="overflow: auto;">
    <!-- Flex container for top elements -->
    <div class="flex justify-between items-start p-5 fixed top-0 left-0 right-0">
      <!-- Navbar on the left -->
      <div class="navbar-container">
        <app-navbar (selectedNavChange)="onNavChange('else')"></app-navbar>
      </div>
      <!-- Profile on the right -->
      <div class="flex flex-col items-center">
        <img (click)="profile()" [src]="themeService.isDarkModeActive() ? '../../../../assets/icons/profile-light.png' : '../../../../assets/icons/profile-dark.png'" alt="profile" class="w-12 h-12 hover:cursor-pointer">
      </div>
    </div>
    <!-- Search bar below the top elements -->
    <div class="mt-[calc(1vh+5rem)] pl-5">
      <app-search-bar (searchDown)="onSearchdown($event)" class="col-start-2"></app-search-bar>
    </div>

  <h1 *ngIf="searchQuery !== ''" class="text-2xl font-bold text-gray-800 dark:text-gray-200">Search Results for "{{searchQuery}}"</h1>

  <div class="top-result dark:text-gray-200" style="float: left; width: 50%;">
    <h1 class="" style="font-weight: bold; font-size: larger;">Top Result</h1>
    <div [ngClass]="moodComponentClasses[this.moodService.getCurrentMood()]" class="  my-[1vw]" style="width: 90%; padding: 2vw; border-radius: 15px;">
      <img src="./../../../assets/images/album.png" alt="Big Image" style="border-radius: 15px;">
      <h2 style="font-weight: bold;" class="py-2">Title</h2>
      <p class="py-1">Subtitle</p>
    </div>
  </div>
  

  <div class="songs dark:text-gray-200" style="float: left; width: 50%; position: relative;">
    <a style="position: absolute; top: 0; right: 0; margin: 10px; padding: 5px 10px; border-radius: 5px;cursor: pointer;">
      View More
    </a>
    <h1 class="py-2" style="font-weight: bold; font-size: larger;">Songs</h1>
    <div class="songs-container" style="display: flex; flex-direction: column; overflow-y: auto; height:25vw;">
      <div class="song-card dark:text-gray-200 bg-gray-component" 
          *ngFor="let song of songs" 
          style="flex: 0 0 auto; width: 100%; margin-bottom: 20px; display: flex; padding: 5px; border-radius: 10px; box-sizing: border-box; height:20vw; padding: .5vw;">
        <img src="./../../../assets/images/album.png" alt="Song Image" style="width: 50%; border-radius: 10px; margin-right: 10px;">
        <div>
          <h2 style="font-weight: bold;" class="py-2">asd</h2>
          <p class="py-1">asd</p>
        </div>
      </div>
    </div>
  </div>

  <div class="songs dark:text-gray-200" style="float: left; width: 50%; position: relative;">
    <a style="position: absolute; top: 0; right: 0; margin: 10px; padding: 5px 10px; border-radius: 5px;cursor: pointer;">
      View More
    </a>
    <h1 class="py-2" style="font-weight: bold; font-size: larger;">Playlist</h1>
    <div class="songs-container" style="display: flex; flex-direction: column; overflow-y: auto; height:25vw;">
      <div class="song-card dark:text-gray-200 bg-gray-component" 
          *ngFor="let song of songs" 
          style="flex: 0 0 auto; width: 100%; margin-bottom: 20px; display: flex; padding: 5px; border-radius: 10px; box-sizing: border-box; height:20vw;">
        <img src="./../../../assets/images/album.png" alt="Song Image" style="width: 50%; border-radius: 10px; margin-right: 10px;">
        <div>
          <h2 style="font-weight: bold;" class="py-2">asd</h2>
          <p class="py-1">asd</p>
        </div>
      </div>
    </div>
  </div>

  <div  class="library-container songs-container dark:text-gray-200 " style="width: 100%; overflow-x: auto; margin-bottom: 40vw; padding: 20px 0;">
    <h1 class="dark:text-gray-200" style="padding-left: 20px; font-weight: bold; font-size: larger ;">From Your Library</h1>
    <div class="library-content" style="display: flex; flex-wrap: nowrap; gap: 20px; padding: 0 20px;">
      <div class="library-card" *ngFor="let song of songs" style="display: flex; flex-direction: column; align-items: center; min-width: 150px; max-width: 200px; vertical-align: top;">
        <img src="./../../../assets/images/album.png" alt="Album Image" style="width: 100%; max-width: 100%; border-radius: 10px;">
        <div style="text-align: center;">
          <h2 style="font-weight: bold; margin-top: 10px;">title</h2>
          <p>subtitle</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>