<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div *ngIf="isCurrentRouteAuth()">
  <router-outlet></router-outlet>
</div>
<div *ngIf="!isCurrentRouteAuth()">
  <div *ngIf="screenSize === 'desktop'" class="grid grid-cols-[1fr,1fr,1fr,1fr,200px] grid-rows-[0.01fr,0.01fr,0.67fr] min-h-screen pl-2 pr-2 relative">
    <app-background-animation class="absolute inset-0" style="z-index: -1;"></app-background-animation>
    <app-header class="col-start-2 col-span-1 row-start-2 row-span-1"></app-header>
    <app-other-nav class="col-start-5 col-span-1 row-start-1 row-span-1 justify-self-end"></app-other-nav>
    <app-left class="col-start-1 col-span-1 row-start-1 row-span-3"></app-left>
    <div class="no-scrollbar col-span-4 row-start-3 row-span-2 overflow-y-scroll">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="screenSize === 'mobile'">
    <div class="grid grid-cols-3 grid-rows-[0.1fr,1fr,1fr] min-h-screen relative" [ngClass]="backgroundMoodClasses[moodService.getCurrentMood()]">
      <app-background-animation class="absolute inset-0" style="z-index: -1;"></app-background-animation>
      <app-header class="col-start-2 col-span-1 row-start-1 row-span-1"></app-header>
      <div class="col-start-1 col-span-3 row-start-2 row-span-2">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-bottom-nav></app-bottom-nav>
  </div>
  <app-bottom-player *ngIf="isReady()"></app-bottom-player>
</div>