<div class="flex flex-col h-full">
    <!-- Header rgb -->
    <header style="background-color: rgba(0, 0, 0,0.70);" class="p-4 rounded-lg flex justify-between items-center text-white">
        <div class="flex items-center">
        <!-- <img src="assets/logo.png" alt="Logo" class="w-8 h-8 mr-2"> -->
        <h1 class="text-lg font-semibold">Help chat For Echo</h1>
        </div>
    </header>

    <!-- Chat Window -->
    <div style="background-color: rgba(0, 0, 0,0.30);"  class="flex-grow overflow-y-auto" (wheel)="onScroll($event)">
      <div *ngFor="let message of getVisibleMessages()" class="mb-4">
        <!-- User Message -->
        <div *ngIf="message.sender === 'user'" class="text-right">
            <div class="inline-block bg-blue-500 text-white p-3 rounded-lg">
            {{ message.text }}
            </div>
        </div>

        <!-- Bot Message -->
        <div *ngIf="message.sender === 'bot'" class="text-left">
            <div style="background-color: rgba(0, 0, 0,0.70);" class="inline-block text-white text-lg font-semibold p-3 rounded-lg">
            {{ message.text }}
            </div>
        </div>
        </div>
    </div>


    <!-- Input Area -->
    <div style="background-color: rgba(0, 0, 0,0.70);"  class=" flex items-center">
        <input [(ngModel)]="userInput"
            type="text"
            placeholder="Type a message..."
            class="flex-grow border rounded-l-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
            (keydown.enter)="sendMessage()">
        <button (click)="sendMessage()"
                class="bg-blue-500 text-white p-3 rounded-r-lg hover:bg-blue-600 transition">
        Send
        </button>
    </div>
</div>