<div id="blob-container" class="w-screen h-screen relative overflow-hidden bg-default-backgrounddark">
  <div class="blob w-[60vh] h-[60vh] absolute rounded-full blur-[75px] transition-colors duration-mood ease-in-out" [style.background-color]="backgroundMoodColorClasses[moodService.getCurrentMood()]"></div>
  <div class="blob w-[60vh] h-[60vh] absolute rounded-full blur-[75px] transition-colors duration-mood ease-in-out" [style.background-color]="backgroundMoodColorClasses[moodService.getCurrentMood()]"></div>
  <div class="blob w-[60vh] h-[60vh] absolute rounded-full blur-[75px] transition-colors duration-mood ease-in-out" [style.background-color]="backgroundMoodColorClasses[moodService.getCurrentMood()]"></div>
</div>