<div class="flex items-center mb-5 hover:cursor-pointer bg-default-backgrounddark rounded-lg p-1" (click)="playTrack(card.id)">
  <!-- Image on the left -->
  <div class="mr-4 flex-shrink-0" [style.width]="imgSize">
    <img [src]="card?.imageUrl || 'path/to/default-image.jpg'" alt="Card image" class="w-full h-auto rounded" [style.width]="imgSize" [style.height]="imgSize">
  </div>
  <!-- Text on the right -->
  <div class="flex-grow">
    <!-- First text with icon -->
    <div class="flex items-center">
      <img *ngIf="card.explicit" src="../../../assets/images/explicit-dark.png" alt="Explicit Icon" class="w-6 h-6 mr-2">
      <p class="text-gray-900 text-sm dark:text-white font-bold">{{ card.text }}</p>
    </div>
    <!-- Second text (underneath the first text) -->
    <p class="text-xs text-gray-400">{{ card.secondaryText }}</p>
  </div>
  <app-echo-button
  [color]="'#EE0258'" 
  [width]="'2.5vw'" 
  [height]="'2.5vw'" 
  (buttonClick)="onEchoButtonClick($event)">
</app-echo-button>
</div>