<div class="flex items-center mb-5 hover:cursor-pointer" (click)="playTrack(card.id)">
  <!-- Image on the left -->
  <div class="mr-4 flex-shrink-0" style="width: 25%;">
    <img [src]="card?.imageUrl || 'path/to/default-image.jpg'" alt="Card image" class="w-full h-auto rounded">
  </div>
  <!-- Text on the right -->
  <div class="flex-grow">
    <!-- First text with icon -->
    <div class="flex items-center">
      <img *ngIf="card.explicit" src="../../../assets/images/explicit-dark.png" alt="Explicit Icon" class="w-6 h-6 mr-2">
      <p class="text-gray-900 text-sm dark:text-white font-bold">{{ card.text }}</p>
    </div>
    <!-- Second text (underneath the first text) -->
    <p class="text-xs text-gray-400">{{ card.secondaryText }}</p>
  </div>
  <svg data-modal-target="echo-songs" data-modal-toggle="echo-songs" class="echo-button hover:cursor-pointer" (click)="echoTrack(card.text, card.secondaryText, $event)" width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect y="9.33333" width="4.14286" height="9.33333" rx="2.07143" fill="#EE0258"/>
    <rect x="24.8572" y="9.33333" width="4.14286" height="9.33333" rx="2.07143" fill="#EE0258"/>
    <rect x="5.80005" y="5.44444" width="4.97143" height="15.5556" rx="2.48571" fill="#EE0258"/>
    <rect x="18.2285" y="5.44444" width="4.97143" height="15.5556" rx="2.48571" fill="#EE0258"/>
    <rect x="12.4285" width="4.14286" height="28" rx="2.07143" fill="#EE0258"/>
  </svg>
</div>