#profile {
  background-size: cover;
  height: 30vh;
  position: relative;
  border-top-left-radius: 0.5rem; /* Rounded top corners */
  border-top-right-radius: 0.5rem;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Gradient effect */
.profile::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to bottom, transparent, #000000); /* Transition from transparent to gray */
  border-radius: inherit;
}

.bg-gray-component {
  background-color: #000000; /* Ensure it matches the Tailwind color */
  color: white;
  border-bottom-left-radius: 0.75rem; /* Rounded bottom corners */
  border-bottom-right-radius: 0.75rem;
}


.btn {
  background-color: #fff;
  color: #4a4a4a;
}

.btn:hover {
  background-color: #e2e2e2;
}

.scrollable-cards::-webkit-scrollbar {
  height: 6px; /* Adjusts the height of the scrollbar for horizontal scroll */
}

.scrollable-cards::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* Gray color for the scrollbar */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.scrollable-cards::-webkit-scrollbar-track {
  background: transparent; /* Transparent background for the scrollbar track */
}

/* Scrollbar styles for Firefox */
.scrollable-cards {
  scrollbar-width: thin; /* Thin scrollbar for Firefox */
  scrollbar-color: #b0b0b0 transparent; /* Gray scrollbar thumb and transparent track */
}

/* Other existing styles */
.scrollable-cards {
  overflow-x: auto;
  white-space: nowrap;
}