<div class="flex items-center mb-5 animate-pulse">
  <!-- Image on the left -->
  <div class="mr-4 flex-shrink-0" [style.width]="imageSize" [style.height]="imageSize">
    <div class="w-full h-full bg-gray-300 rounded dark:bg-gray-700"></div>
  </div>
  <!-- Text on the right -->
  <div class="flex-grow">
    <!-- First text with icon -->
    <div class="flex items-center mb-2">
      <div class="w-6 h-6 bg-gray-300 rounded-full dark:bg-gray-700 mr-2"></div>
      <div class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-3/4"></div>
    </div>
    <!-- Second text (underneath the first text) -->
    <div class="h-3 bg-gray-300 rounded-full w-1/4"></div>
  </div>
  <div class="w-6 h-6 bg-gray-300 rounded-full ml-4"></div>
</div>