<h2 class="text-gray-dark dark:text-gray-verylight font-bold mb-2 mt-4">My Artists</h2>
        <div class="flex space-x-2 overflow-x-autono-scrollbar">
          <ng-container *ngFor="let artist of artists">
            <app-top-artist-card 
              [imageUrl]="artist.imageUrl" 
              [text]="artist.text"
            >
          </app-top-artist-card>
          </ng-container>
        </div>

        <h2 class="text-gray-dark dark:text-gray-verylight font-bold mb-2 mt-10">My Songs</h2>
          <div class="flex space-x-2 overflow-x-auto no-scrollbar">
          <ng-container *ngFor="let item of recentListeningCardData">
            <app-top-card 
              [imageUrl]="item.imageUrl" 
              [text]="item.text" 
              [secondaryText]="item.secondaryText"
            >
            </app-top-card>
          </ng-container>
        </div>