
<form class="mx-auto text-left w-[80%]" (ngSubmit)="onSearchSubmit()"> 
    <label for="desktop-search" class="text-sm font-medium text-gray-900 sr-only dark:text-black">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 end-0 flex items-center pe-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="desktop-search" 
            class="search-input block w-full h-10pr-10 text-sm text-gray-900 border-none rounded-full bg-gray-50 focus:ring-pink focus:border-pink" 
            placeholder="Looking for something?" 
            [(ngModel)]="searchQuery" name="desktopSearch" required />
    </div>
</form>

