<div class="dropdown relative w-full max-w-xs">
    <button [ngClass]="moodComponentClasses[this.moodService.getCurrentMood()]" class="w-full focus:ring-2 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center justify-between" type="button" id="dropdownMenuButton1" (click)="toggleDropdown()" aria-expanded="false">
      {{ this.moodService.getCurrentMood() || 'Choose Mood' }}
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
    </button>
    <ul *ngIf="dropdownOpen" [ngClass]="moodComponentClasses[this.moodService.getCurrentMood()]"  class=" dropdown-menu min-w-max absolute  text-base z-50 left-0 right-0 py-2 list-none text-left rounded-lg shadow-lg mt-1 m-0 bg-clip-padding border-none">
      <li [ngClass]="moodComponentClasses[this.moodService.getCurrentMood()]"  *ngFor="let mood of moods">
        <a [ngClass]="moodComponentClasses[this.moodService.getCurrentMood()]"class=" text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-center" (click)="selectMood(mood)">{{ mood }}</a>
      </li>
    </ul>
</div>