<div  class="fixed mb-3 bottom-player" style="width: 98vw; height: 12vh; left:1vw ">
  <div class="rounded-md h-full">
    <div class="absolute top-0 w-full z-20">
      <div #progressContainer class=" bg-gray-300 w-full  rounded-t-full h-1 hover:cursor-pointer" (click)="updateProgress($event)">
        <div [ngClass]="moodClassesDark[this.moodService.getCurrentMood()]"    id="progressBar" class=" h-1 rounded-full" [style.width.%]="trackProgress"></div>
      </div>
    </div>
    <div  class="bg-stone-950 opacity-80 rounded-lg overflow-hidden h-full flex items-center p-4">
      <div class="flex items-center h-full w-full justify-between">

        <div class="flex items-center space-x-5">
          <div class="flex-shrink-0">
            <img [src]="currentTrack.imageUrl" alt="Card image" class="w-16 h-auto rounded sm:w-8 md:w-12 lg:w-12 xl:w-12">
          </div>


          <div class="flex flex-col justify-center ml-3">
            <p class="text-sm text-gray-verylight font-bold">{{ currentTrack.name }}</p>
            <p class="text-xs text-gray-verylight">{{ currentTrack.artist }}</p>
          </div>


          <div class="flex flex-col justify-center" *ngIf="currentTrack.explicit">
            <img src="../assets/images/explicit-dark.png" alt="Explicit Icon" class="w-6 h-6">
          </div>
          <div class="flex justify-center items-center text-xs text-gray-verylight mt-1">
            <span>{{ formatTime(trackProgress * currentTrack.duration_ms / 100 / 1000) }}</span>
            <span class="mx-1">/</span>
            <span>{{ formatTime(currentTrack.duration_ms / 1000) }}</span>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <img src="../assets/icons/skipback-light.png" (click)="playPrevious()" alt="Skip Backward" class="w-6 h-6 hover:cursor-pointer">
          <div class="mx-4">
            <img *ngIf="playingNow()" src="./../../../../assets/icons/circled-pause-light.png" id="play-dark" (click)="play()" alt="Pause Icon" class="w-10 h-10 hover:cursor-pointer">
            <img *ngIf="pausedNow()" src="./../../../../assets/icons/circled-play-light.png" id="pause-dark" (click)="play()" alt="Play Icon" class="w-10 h-10 hover:cursor-pointer">
          </div>
          <img src="../assets/icons/skip-light.png" (click)="playNext()" alt="Skip Forward" class="w-6 h-6 hover:cursor-pointer">
      </div>
        <div class="flex space-x-3 mr-5 items-center" *ngIf="screenSize === 'desktop'">
          <div class="flex flex-col justify-center">
            <img *ngIf="!muted" src="./../../../../assets/icons/audio-light.png" (click)="mute()" alt="Volume Icon" class="w-6 h-6 hover:cursor-pointer">
            <img *ngIf="muted" src="./../../../../assets/icons/mute-light.png" (click)="unmute()" alt="Volume Icon" class="w-6 h-6 hover:cursor-pointer">
          </div>

          <div class="flex flex-col justify-center w-32">
            <input type="range" min="0" max="100" step="1" value="50" (input)="onVolumeChange($event)" class="w-full h-1  rounded-lg appearance-none cursor-pointer bg-gray-700">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
