
<!-- Song view modal -->
<div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-component bg-opacity-50">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-gray-component rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 border-b rounded-t">
        <h3 class="text-lg font-semibold text-white dark:text-white text-center">{{ selectedSong?.title }}</h3>
        <button (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
          <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <!-- Song information -->
      <div class="p-4 flex flex-col items-center mt-4">
        <div class="relative w-64 h-64 mb-4">
            <img [src]="selectedSong?.image" alt="Cover Art" class="w-full h-full object-cover rounded-lg">
            <app-play-icon class="hidden group-hover:block cursor-pointer" (click)="playTrack(card.id)" [mood]="selectedSong.mood"></app-play-icon>
        </div>
        <p><span class="text-gray-verylight">Artist: </span> <span class="text-default font-semibold">{{ selectedSong?.artist }}</span></p>
        <p><span class="text-gray-verylight">Album: </span> <span class="text-default font-semibold">{{ selectedSong?.album }}</span></p>
        <p><span class="text-gray-verylight">Duration: </span> <span class="text-default font-semibold">{{ selectedSong?.duration }}</span></p>
        <p><span class="text-gray-verylight">Genre: </span> <span class="text-default font-semibold">{{ selectedSong?.genre }}</span></p>
        <p><span class="text-gray-verylight">Mood: </span> <span class="text-default font-semibold">{{ selectedSong?.mood }}</span></p>
        <br/>
        <div class="bg-gray-veryDark bg-opacity-20 rounded-lg p-4">
          <h5 class="text-lg text-center font-bold mb-2 text-gray-verylight cursor-pointer" (click)="toggleSimilarSongs()">
            See Similar Songs
            <span *ngIf="isExpanded" class="ml-2">&#9650;</span> <!-- Up Arrow -->
            <span *ngIf="!isExpanded" class="ml-2">&#9660;</span> <!-- Down Arrow -->
          </h5>
          <ul *ngIf="isExpanded" class="list-disc list-inside text-gray-verylight">
            <li *ngFor="let song of selectedSong?.similarSongs">{{ song }}</li>
          </ul>
        </div>        
      </div>
    </div>
  </div>
</div>
