
<!-- Song view modal -->
<div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-component bg-opacity-50">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-gray-component shadow">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 border-b rounded-t">
        <h3 class="text-lg font-semibold text-gray-900">{{ selectedSong?.title }}</h3>
        <button (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <!-- Song information -->
      <div class="p-4 flex flex-col items-center mt-4">
        <div class="relative w-64 h-64 mb-4">
            <img [src]="selectedSong?.image" alt="Cover Art" class="w-full h-full object-cover rounded-lg">
            <img src="../assets/icons/play-pink.png" alt="Play Icon" class="absolute top-2 right-2 w-16 h-16">
        </div>
        <p><span class="text-pink font-semibold">Artist: </span> <span class="text-gray-verylight">{{ selectedSong?.artist }}</span></p>
        <p><span class="text-pink font-semibold">Album: </span> <span class="text-gray-verylight">{{ selectedSong?.album }}</span></p>
        <p><span class="text-pink font-semibold">Duration: </span> <span class="text-gray-verylight">{{ selectedSong?.duration }}</span></p>
        <p><span class="text-pink font-semibold">Genre: </span> <span class="text-gray-verylight">{{ selectedSong?.genre }}</span></p>
        <br/>
        <h5 class="text-lg font-bold mb-2 text-pink">Similar Songs</h5>
        <ul class="list-disc list-inside text-gray-verylight">
            <li *ngFor="let song of selectedSong?.similarSongs">{{ song }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
