  <div class="rounded-lg transition-transform duration-300 hover:scale-110 cursor-pointer flex-none w-[10vw] mr-[1vw]" (click)="onMoodClick()">
    <div class="card w-full h-full relative ml-3 my-3 aspect-w-1 aspect-h-1 shadow-xl rounded-lg">
      <div class="min-w-[10vw] max-w-[10vw] bg-stone text-black dark:text-white rounded-lg shadow-lg">
        <img [src]="mood.image"  [alt]="mood.name" class=" bg-blue-200 rounded-t-lg w-full h-full object-cover">
        <div class="p-4 rounded-b-lg" [ngClass]="this.moodComponentClasses[this.moodService.getCurrentMood()]" >
          <app-page-title>{{ mood.name }}</app-page-title>
        </div>
      </div>
      <div class="ng-content-container absolute bottom-2 right-3">
        <ng-content></ng-content>
      </div>
    </div>
  </div>