<div class="bg-white-300 p-4 flex justify-between rounded-box">
    <app-svg-icon *ngIf="themeService.isDarkModeActive()" (svgClick)="select()" [svgPath]="homeSvg" [fillColor]="'#D9D9D9'"></app-svg-icon>
    <app-svg-icon *ngIf="!themeService.isDarkModeActive()" (svgClick)="select()" [svgPath]="homeSvg" [fillColor]="'#323232'"></app-svg-icon>
    <app-svg-icon *ngIf="themeService.isDarkModeActive()" (svgClick)="select()" [svgPath]="otherSvg1" [fillColor]="'#D9D9D9'"></app-svg-icon>
    <app-svg-icon *ngIf="!themeService.isDarkModeActive()" (svgClick)="select()" [svgPath]="otherSvg1" [fillColor]="'#323232'"></app-svg-icon>
    <app-svg-icon *ngIf="themeService.isDarkModeActive()" (svgClick)="select()" [svgPath]="otherSvg2" [fillColor]="'#D9D9D9'"></app-svg-icon>
    <app-svg-icon *ngIf="!themeService.isDarkModeActive()" (svgClick)="select()" [svgPath]="otherSvg2" [fillColor]="'#323232'"></app-svg-icon>
</div>