  <app-back-button></app-back-button>
  <h1 class="text-3xl font-bold text-white text-center mb-6">Search Results for "{{ searchQuery }}</h1>
  <app-search-bar></app-search-bar>
  <div class="pl-4">
  <div class="top-result dark:text-gray-200" style="float: left; width: 33%;">
    <h1 class="py-3 text-white" style="font-weight: bold; font-size: larger;">Top Result</h1>
    <div [ngClass]="moodComponentClasses[this.moodService.getCurrentMood()]" class="opacity-85 bg-stone-950 big-card hover:cursor-pointer"
      style="width: 15vw; padding: 1vw; border-radius: 15px;">
      <ng-container *ngIf="topResult$ | async as topResult">
        <div (click)="playTrack(topResult.name, topResult.artistName)">
          <img [src]="topResult.albumImageUrl" alt="Big Image" style="border-radius: 15px;">
          <h2 style="font-weight: bold;" class="py-2">{{ topResult.name }}</h2>
          <p class="py-1">{{ topResult.artistName }}</p>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="songs dark:text-gray-200 p-4" style="float: left; width: 33%; position: relative;">
    <a
      style="position: absolute; top: 0; right: 0; margin: 10px; padding: 5px 10px; border-radius: 5px;cursor: pointer;" class="text-white">
      View More
    </a>
    <h1 class="py-2 text-white" style="font-weight: bold; font-size: larger;">Songs</h1>
    <div class="songs-container no-scrollbar" style="display: flex; flex-direction: column; overflow-y: auto; height:20vw;">
      <div [ngClass]="moodComponentClasses[this.moodService.getCurrentMood()]" class="bg-stone-950 opacity-85 song-card hover:cursor-pointer"
           *ngFor="let song of songs$ | async"
            style="flex: 0 0 auto; width: 100%; margin-bottom: 20px; display: flex; padding: 5px; border-radius: 10px; box-sizing: border-box; height:6vw; padding: .5vw;"
            (click)="playTrack(song.name, song.artistName)">
        <img [src]="song.albumImageUrl" alt="Song Image" style="width: 25%; border-radius: 10px; margin-right: 10px;">
        <div>
          <h2 style="font-weight: bold;" class="py-2">{{ song.name }}</h2>
          <p class="py-1">{{ song.artistName }}</p>
        </div>
      </div>
    </div>
  </div>


<div class="songs dark:text-gray-200 p-4" style="float: left; width: 33%; position: relative;">
  <a class="text-white"
    style="position: absolute; top: 0; right: 0; margin: 10px; padding: 5px 10px; border-radius: 5px;cursor: pointer;">
    View More
  </a>
  <h1 class="py-2 text-white" style="font-weight: bold; font-size: larger;">Albums</h1>
  <div class="songs-container no-scrollbar"
       style="display: flex; flex-direction: column; overflow-y: auto; height:20vw;">
    <div [ngClass]="moodComponentClasses[this.moodService.getCurrentMood()]"
         class="song-card  hover:cursor-pointer bg-stone-950 opacity-85"
         *ngFor="let album of albums$ | async"
         style="flex: 0 0 auto; width: 100%; margin-bottom: 20px; display: flex; padding: 5px; border-radius: 10px; box-sizing: border-box; height:6vw; padding: .5vw;">
      <img [src]="album.albumImageUrl" alt="Song Image"
           style="width: 25%; border-radius: 10px; margin-right: 10px;">
      <div>
        <h2 style="font-weight: bold;" class="py-2">{{ album.albumName }}</h2>
        <p class="py-1">{{ album.artistName }}</p>
      </div>
    </div>

  </div>
</div>
</div>
