.button-container {
  position: relative;
}

.button-container::after {
  content: '';
  position: absolute;
  width: calc(100% - 2.5rem);
  left: 1.25rem;
  bottom: -2px;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}


.button {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.example::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.container {
  width: var(--tw-w);
  height: var(--tw-h);
}
.view-more-container {
  /* Adjust the padding value based on your needs */
  margin-bottom: calc(50vh - 50px); /* Assuming the button's height is around 100px */
}
.no-hover-effect:hover {
  background-color: inherit !important; /* Neutralizes background color change */
  color: inherit !important; /* Neutralizes text color change */
  /* Add any other properties that change on hover to be neutralized */
}

