<!-- moods.component.html -->
<div *ngIf="screenSize === 'desktop'" class="flex flex-col pl-1 ml-[2vw]">
    <div class="card w-full bg-stone text-black dark:text-white rounded-lg">
        <div class="card-body">
            <app-moods-list [title]="'Favourite Moods'" [moods]="favouriteMoods" (redirectToMoodPage)="redirectToMoodPage($event)"></app-moods-list>
            <br/>
            <app-moods-list [title]="'Recommended Moods'" [moods]="RecommendedMoods" (redirectToMoodPage)="redirectToMoodPage($event)"></app-moods-list>
        </div>
    </div>
</div>
<div *ngIf="screenSize === 'mobile'" class="flex flex-col">
    <div class="overflow-x-auto flex space-x-4 py-4">
        <div *ngFor="let mood of favouriteMoods" [ngClass]="this.moodComponentClasses[this.moodService.getCurrentMood()]" class="min-w-[60vw] max-w-[60vw] bg-stone text-black dark:text-white rounded-lg shadow-lg">
            <img src="{{ mood.image }}" alt="{{ mood.name }}" class="rounded-t-lg w-full h-40 object-cover">
            <div class="p-4">
                <h5 class="text-lg font-bold">{{ mood.name }}</h5>
            </div>
        </div>
    </div>
</div>