.navbar-container {
    position: fixed;
    top: 1vh;
    left: 4%;
}

.custom-scrollable {
    max-width: 100vw; /* Adjust as needed */
    overflow-x: auto;
    overflow-y: hidden; /* Hide vertical scrollbar to remove arrows */
}

