.navbar-container {
    position: fixed;
    top: 1vh;
    left: 4%;
}

.custom-scrollable {
    max-width: 100vw; /* Adjust as needed */
    overflow-x: auto;
    overflow-y: hidden; /* Hide vertical scrollbar to remove arrows */
}

/* For Webkit (Chrome, Safari, etc.) */
.songs-container::-webkit-scrollbar {
    width: 10px; /* Adjust scrollbar width */
}

.songs-container::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

.songs-container::-webkit-scrollbar-thumb {
    background: pink; /* Pink scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
}

/* For Firefox */
.songs-container {
    scrollbar-width: thin; /* Adjust scrollbar width */
    scrollbar-color: #EE0258 transparent; /* Pink thumb and transparent track */
}