<div class="min-h-screen dark:bg-desktop-bg bg-gray-verylight grid grid-cols-5 grid-rows-6 gap-4 px-6 py-3 lg:px-8" style="overflow: auto;">
  <div class="col-start-1 col-span-5 row-start-1">
    <div class="fixed navbar-container pl-5">
      <app-navbar (selectedNavChange)="onNavChange($event)"></app-navbar>
    </div>
    <app-search-bar (searchDown)="onSearchdown($event)" class="col-start-2 row-start-1"></app-search-bar>
    <div class="fixed top-5 right-8 flex flex-col items-center">
      <img (click)="profile()" [src]="themeService.isDarkModeActive() ? '../../../../assets/icons/profile-light.png' : '../../../../assets/icons/profile-dark.png'" alt="profile" class="w-12 h-12 hover:cursor-pointer">
      <button *ngIf="screenSize === 'desktop'" class="mt-2 p-2" (click)="switchTheme()">
          <img *ngIf="!themeService.isDarkModeActive()" src="../../../assets/icons/light-mode.png" alt="Light Mode" class="w-10 h-10">
          <img *ngIf="themeService.isDarkModeActive()" src="../../../assets/icons/dark-mode.png" alt="Dark Mode" class="w-10 h-10">
      </button>
  </div>
    <!-- Mobile theme switcher -->
    <button *ngIf="screenSize === 'mobile'" class="fixed top-5 right-16 p-2 bg-gray-300 dark:bg-gray-700 rounded-full" (click)="switchTheme()">
      <svg class="w-6 h-6 text-gray-800 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 12.79A9 9 0 1111.21 3a7 7 0 0010.79 9.79z" />
      </svg>
    </button>
  </div>

  <app-side-bar *ngIf="screenSize === 'desktop'" class="col-start-1 col-span-1 row-start-1 row-span-6"></app-side-bar>

  <app-bottom-nav *ngIf="screenSize === 'mobile'"></app-bottom-nav>

  <div *ngIf="title === 'Home' " class="col-start-2 col-span-4 row-start-1 row-span-5 pl-16 pt-20 mr-5">
    <app-moods *ngIf="screenSize === 'desktop'" class="col-start-2 col-span-4 row-start-1 row-span-5 pl-16 pt-20 mr-5"></app-moods>
  </div>  
  
  <div *ngIf="title === 'Search' " class="col-start-2 col-span-4 row-start-1 row-span-5 pl-16 pt-20 mr-5">
    
    <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200">Search Results for "{{searchQuery}}"</h1>

    <div class="top-result dark:text-gray-200" style="float: left; width: 33%;">
      <h1 class="py-3" style="font-weight: bold; font-size: larger;">Top Result</h1>
      <div class="big-card dark:text-gray-200 bg-gray-component" style="width: 15vw; padding: 1vw; border-radius: 15px;">
        <img src="./../../../assets/images/album.png" alt="Big Image" style="border-radius: 15px;">
        <h2 style="font-weight: bold;" class="py-2">Title</h2>
        <p class="py-1">Subtitle</p>
      </div>
    </div>
    
  
    <div class="songs dark:text-gray-200" style="float: left; width: 33%; position: relative;">
      <a style="position: absolute; top: 0; right: 0; margin: 10px; padding: 5px 10px; border-radius: 5px;cursor: pointer;">
        View More
      </a>
      <h1 class="py-2" style="font-weight: bold; font-size: larger;">Songs</h1>
      <div class="songs-container" style="display: flex; flex-direction: column; overflow-y: auto; height:20vw;">
        <div class="song-card dark:text-gray-200 bg-gray-component" 
            *ngFor="let song of songs" 
            style="flex: 0 0 auto; width: 100%; margin-bottom: 20px; display: flex; padding: 5px; border-radius: 10px; box-sizing: border-box; height:6vw; padding: .5vw;">
          <img src="./../../../assets/images/album.png" alt="Song Image" style="width: 30%; border-radius: 10px; margin-right: 10px;">
          <div>
            <h2 style="font-weight: bold;" class="py-2">asd</h2>
            <p class="py-1">asd</p>
          </div>
        </div>
      </div>
    </div>

    <div class="songs dark:text-gray-200" style="float: left; width: 33%; position: relative;">
      <a style="position: absolute; top: 0; right: 0; margin: 10px; padding: 5px 10px; border-radius: 5px;cursor: pointer;">
        View More
      </a>
      <h1 class="py-2" style="font-weight: bold; font-size: larger;">Playlist</h1>
      <div class="songs-container" style="display: flex; flex-direction: column; overflow-y: auto; height:20vw;">
        <div class="song-card dark:text-gray-200 bg-gray-component" 
            *ngFor="let song of songs" 
            style="flex: 0 0 auto; width: 100%; margin-bottom: 20px; display: flex; padding: 5px; border-radius: 10px; box-sizing: border-box; height:6vw;">
          <img src="./../../../assets/images/album.png" alt="Song Image" style="width: 30%; border-radius: 10px; margin-right: 10px;">
          <div>
            <h2 style="font-weight: bold;" class="py-2">asd</h2>
            <p class="py-1">asd</p>
          </div>
        </div>
      </div>
    </div>

    <div class="library-container songs-container dark:text-gray-200" style="width: 100%; overflow-x: auto; padding: 20px 0;">
      <h1 style="padding-left: 20px; font-weight: bold; font-size: larger;">From Your Library</h1>
      <div class="library-content" style="display: flex; flex-wrap: nowrap; gap: 20px; padding: 0 20px;">
        <div class="library-card" *ngFor="let song of songs" style="display: flex; flex-direction: column; align-items: center; min-width: 150px; max-width: 200px; vertical-align: top;">
          <img src="./../../../assets/images/album.png" alt="Album Image" style="width: 100%; max-width: 100%; border-radius: 10px;">
          <div style="text-align: center;">
            <h2 style="font-weight: bold; margin-top: 10px;">title</h2>
            <p>subtitle</p>
          </div>
        </div>
      </div>
    </div>

    </div>
</div>
