<div class="flex flex-col h-dvh dark:bg-desktop-bg bg-gray-verylight px-10 py-10" style="overflow: hidden;">
    <!-- Main container -->
     <div class="h-dvh flex bg-gray-component rounded-xl gap-x-20 p-20">
        <!-- Left Nav -->
        <div class="w-1/4 grid grid-cols-1 grid-rows-7 px-4 position: fixed;">
            <h2 class="text-white mb-4 text-2xl font-bold">Settings</h2>
            <button class="bg-gray-light hover:bg-pink text-white font-bold py-2 px-4 rounded-full  h-10 min-w-32" (click)="showSettings('Account')">
                Account
            </button>
            <button class="bg-gray-light hover:bg-pink text-white font-bold py-2 px-4 rounded-full h-10 min-w-32" (click)="showSettings('Privacy')">
                Privacy
            </button>
            <button class="bg-gray-light hover:bg-pink text-white font-bold py-2 px-4 rounded-full h-10 min-w-32" (click)="showSettings('Display')">
                Display
            </button>
            <button class="bg-gray-light hover:bg-pink text-white font-bold py-2 px-4 rounded-full h-10 min-w-32" (click)="showSettings('Audio')">
                Audio
            </button>
            <button class="bg-gray-light hover:bg-pink text-white font-bold py-2 px-4 rounded-full h-10 min-w-32" (click)="showSettings('Language')">
                Language
            </button>
        </div>
        <div class="border-r border-gray-light mx-0"></div>
        <!-- Right Page -->
        <div class="w-3/4 row-start-1 ">
            <h2 class="text-white mb-4 text-2xl font-bold">{{ settingName }}</h2>
            <button class="mt-2 p-2" (click)="switchTheme()">
                <img *ngIf="!themeService.isDarkModeActive()" src="../../../assets/icons/light-mode.png" alt="Light Mode" class="w-10 h-10">
                <img *ngIf="themeService.isDarkModeActive()" src="../../../assets/icons/dark-mode.png" alt="Dark Mode" class="w-10 h-10">
            </button>
        </div>
     </div>
     <div></div>
</div>