<div class="rounded-xl flex flex-col h-dvh p-2" style="overflow: hidden;">
    <!-- Main container -->
    <div class="h-full flex flex-col lg:flex-row rounded-xl lg:gap-x-20">
        <!-- Left Nav -->
        <div class="lg:w-1/4 w-full lg:grid grid-cols-1 grid-rows-10 px-4 fixed lg:static">
            <div class="flex items-center mb-4">
                <app-back-button></app-back-button>
                <h2 class="text-white text-2xl font-bold text-center lg:text-left ml-4">Settings</h2>
            </div>
            <button class="text-white font-bold py-2 px-4 rounded-full h-10 min-w-32" [ngClass]="getButtonClass('Account') ? this.moodComponentClasses[this.moodService.getCurrentMood()]: 'bg-gray-newDark'" (click)="showSettings('Account')">
                Account
            </button>
            <button class="text-white font-bold py-2 px-4 rounded-full h-10 min-w-32" [ngClass]="getButtonClass('Display') ? this.moodComponentClasses[this.moodService.getCurrentMood()]: 'bg-gray-newDark'" (click)="showSettings('Display')">
                Display
            </button>
        </div>
        <div class="border-r border-gray-light mx-0 hidden lg:block"></div>
        <!-- Right Page -->
        <div class="lg:w-3/4 w-full row-start-1 h-full mt-28 ">
            <div class="overflow-auto h-full grid-rows-10">
                <ng-container *ngIf="activeSetting === 'Account'">
                    <app-account></app-account>
                </ng-container>
                <ng-container *ngIf="activeSetting === 'Privacy'">
                    <app-privacy></app-privacy>
                </ng-container>
                <ng-container *ngIf="activeSetting === 'Display'">
                    <app-display></app-display>
                </ng-container>
                <ng-container *ngIf="activeSetting === 'Audio'">
                    <app-audio></app-audio>
                </ng-container>
                <ng-container *ngIf="activeSetting === 'Language'">
                    <app-language></app-language>
                </ng-container>
            </div>
        </div>
    </div>
</div>