<div [ngClass]="moodComponentClasses[this.moodService.getCurrentMood()]" class="bg-transparent p-2 pb-6 rounded-full flex-shrink-0"
     style="width: 12vw; height: 12vh; max-width: 9rem; max-height: 9rem; min-width: 5rem; min-height: 5rem;">
  <div class="card-content">
    <img
      src="{{ imageUrl }}"
      alt="{{ trimmedText }}"
      class="rounded mx-auto overflow-hidden transition-all duration-300 hover:rounded-lg hover:scale-110 hover:cursor-pointer"
      style="border-radius: 50%;"
    >
    <div class="text-center mt-2">
      <p class="text-white text-sm font-bold py-2">{{ trimmedText }}</p>
    </div>
  </div>
</div>
