<div class="h-screen dark:bg-dark-bg flex flex-col">
  <div class="flex flex-grow min-h-full justify-center px-6 py-12 lg:px-8">
    <div class="flex flex-col items-center justify-center ml-52 h-screen">
      <div class="text-gray-verylight font-semibold text-3xl text-center">
        Welcome to
      </div>
      <img src="./assets/images/logo-dark-bg.png" alt="logo" class="h-72 w-303">
    </div>
    <div class="mt-10 ml-6 sm:mx-auto sm:w-full sm:max-w-sm lg:w-auto lg:flex-none lg:max-w-md">
      <form class="space-y-6" action="#" method="POST">
        <div>
          <label for="username" class="dark:text-white block text-sm font-medium leading-6"></label>
          <div class="mt-2">
            <input id="username" [(ngModel)]="username" name="username" autocomplete="username" placeholder="  Username" required class="block w-full rounded-full border-0 py-2 bg-gray-verylight text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-light focus:ring-2 focus:ring-inset focus:ring-pink-dark sm:text-sm sm:leading-6">
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="dark:text-white block text-sm font-medium leading-6"></label>
            <div class="text-xs">
              <a href="#" class="dark:text-pink font-semibold hover:text-pink-dark">Forgot password?</a>
            </div>
          </div>
          <div class="mt-2">
            <input id="password" [(ngModel)]="password" name="password" type="password" placeholder="  Password" required class="block w-full rounded-full border-0 py-2 text-stone-900 bg-gray-verylight ring-1 ring-inset ring-gray-300 placeholder:text-gray-light focus:ring-2 focus:ring-inset focus:ring-pink-dark sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="mt-5 flex justify-center">
          <button type="submit" (click)="login()" class="w-30 rounded-full bg-pink px-10 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-pink-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-dark">Sign in</button>
        </div>

        <div class="relative flex py-3 items-center">
          <div class="flex-grow border-t border-gray-light"></div>
          <span class="flex-shrink mx-4 text-xs text-gray-verylight">Or sign in with</span>
          <div class="flex-grow border-t border-gray-light"></div>
        </div>

        <div>
          <app-spotify-login (click)="spotify()"></app-spotify-login>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        Don't have an ECHO account?
        <a href="/register" class="font-semibold leading-6 text-pink hover:text-pink-dark">Sign up now</a>
      </p>
    </div>
  </div>

  <footer class="bg-gray-light dark:bg-dark-bg py-1">
    <div class="container mx-auto px-6 lg:px-8">
      <div class="flex flex-wrap justify-between items-center">
        <div class="w-full lg:w-auto text-center lg:text-left">
          <ul class="flex flex-col lg:flex-row space-y-2 lg:space-y-0 lg:space-x-4">
            <li><a href="/faq" class="text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">FAQ</a></li>
            <li><a href="/about-us" class="text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">About Us</a></li>
            <li><a href="/contact" class="text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">Contact</a></li>
            <li><a href="/privacy-policy" class="text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="w-full lg:w-auto text-center lg:text-right mt-4 lg:mt-0">
          <p class="text-gray-600 dark:text-gray-300">© 2024 ECHO. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
