.content-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  padding-bottom: 30vh; /* Adjust this value to match the height of the bottom player */
}

.fixed {
  position: fixed;
}
