<div class="fixed z-10" style="--tw-w: 21vw; --tw-h: 75vh; left: 1vw; top: 10.2vh;">
  <div class="container">
    <mat-card class="pl-5 py-4 shadow-xl border rounded-md h-full">
      <mat-card-content class="bg-gray-lightcomponent dark:bg-gray-component rounded-lg overflow-auto h-full flex flex-col justify-between scrollbar-hidden">
        <div class="flex flex-col h-full text-gray-background dark:text-gray-verylight ">
          <div class="info-section">
            <!-- Info content -->
            <div>
              <h2 class="text-3xl text-pink font-bold mb-2">About</h2>
              <br/>
              <p>{{ artist.description }}</p>
              <br/>
              <p><strong>Genres:</strong> {{ artist.genres.join(', ') }}</p>
              <br/>
              <p><strong>Artists Like Them:</strong> {{ artist.similarArtists.join(', ') }}</p>
            </div>
          </div>
          
          <div class="top-songs-section mt-4">
            <!-- Top Songs content -->
            <h2 class="text-xl font-bold mb-2">{{ artist.name }}'s Top Songs</h2>
            <ul>
              <li *ngFor="let song of artist.topSongs; let i = index">{{i+1}}. {{ song }}</li>
            </ul>
          </div>
          
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
