<div>
    <!-- Dividing settings into a grid with description on the left and buttons on the right -->
    <div class="flex-col text-white space-y-4">
        <!-- Make account private -->
        <div class="flex p-3">
            <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-center rounded-full">
                <p class="justify-center">Make account private</p>
            </div>
            <div class="w-1/3 px-10 py-2">
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                </label>
            </div>
        </div>

        <!-- Two-Factor Authentication -->
        <div class="flex p-3">
            <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-center rounded-full">
                <p class="justify-center">Two-Factor Authentication</p>
            </div>
            <div class="w-1/3 px-10 py-2">
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                </label>
            </div>
        </div>

        <!-- Location Tracking -->
        <div class="flex p-3">
            <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-center rounded-full">
                <p class="justify-center">Location Tracking</p>
            </div>
            <div class="w-1/3 px-10 py-2">
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600"></div>
                </label>
            </div>
        </div>

        <!-- Profile Visibility -->
        <div class="flex p-3">
            <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-center rounded-full">
                <p class="justify-center">Profile Visibility</p>
            </div>
            <div class="w-1/3 px-10 py-2">
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600"></div>
                </label>
            </div>
        </div>

        <!-- Ad Personalization -->
        <div class="flex p-3">
            <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-center rounded-full">
                <p class="justify-center">Ad Personalization</p>
            </div>
            <div class="w-1/3 px-10 py-2">
                <label class="inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer">
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-yellow-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-yellow-600"></div>
                </label>
            </div>
        </div>

        <!-- Block Unwanted Contacts -->
        <div class="flex p-3">
            <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-center rounded-full">
                <p class="justify-center">Block Unwanted Contacts</p>
            </div>
            <div class="w-1/3 px-10 py-2">
                <button class="bg-red-600 text-white px-4 py-2 rounded-full hover:bg-red-700">Manage</button>
            </div>
        </div>
    </div>
</div>
