
<div>
    <!-- Dividing settings into a grid with description on the left and buttons on right -->
    <div class="flex-col">
        
        <div class="flex">
            <div class="w-2/3 bg-gray-light px-10 py-2 align-middle">
                <p class="align-middle">Change Username</p>
            </div>
            <div class="w-1/3 px-10 py-2">
                <input type="text" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Current Username"/>
            </div>
        </div>

        <div class="flex">
            <div class="w-2/3 bg-gray-light px-10 py-2 align-middle">
                <p class="align-middle">Change Password</p>
            </div>
            <div class="w-1/3 px-10 py-2">
                <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••"/>
            </div>
        </div>

        <div class="flex">
            <div class="w-2/3 bg-gray-light px-10 py-2 align-middle">
                <p class="align-middle">Change Profile Picture</p>
            </div>
            <div class="w-1/3 px-10 py-2">
                <input type="text" id="pfp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="currentPicture.jpg"/>
            </div>
        </div>

    </div>
</div>