<div class="flex-col text-white">

    <!-- Change Username -->
    <div class="flex p-3 justify-between justify-centre">
        <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-centre justify-between rounded-full">
            <p>Change Username</p>
        </div>
        <div class="w-1/3 h-full px-10 py-2">
            <input type="text" id="username" class="bg-gray-dark border border-gray-light text-sm rounded-lg focus:ring-pink focus:border-pink block w-full p-2.5" [placeholder]="currentUser"/>
        </div>
    </div>

    <!-- Change Password -->
    <div class="flex p-3 justify-between justify-centre">
        <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-centre justify-between rounded-full">
            <p>Change Password</p>
        </div>
        <div class="w-1/3 px-10 py-2">
            <input type="password" id="password" class="bg-gray-dark border border-gray-light text-sm rounded-lg focus:ring-pink focus:border-pink block w-full p-2.5" placeholder="•••••••••"/>
        </div>
    </div>

    <!-- Change Profile Picture -->
    <div class="flex p-3 justify-between justify-centre">
        <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-centre justify-between rounded-full">
            <p>Change Profile Picture</p>
        </div>
        <div class="w-1/3 px-10 py-2">
            <input type="text" id="pfp" class="bg-gray-dark border border-gray-light text-sm rounded-lg focus:ring-pink focus:border-pink block w-full p-2.5" [placeholder]="currentPfpPath"/>
        </div>
    </div>

    <!-- Enable Two-Factor Authentication -->
    <div class="flex p-3 justify-between justify-centre">
        <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-centre justify-between rounded-full">
            <p>Enable Two-Factor Authentication</p>
        </div>
        <div class="w-1/3 px-10 py-2">
            <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer">
                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
        </div>
    </div>

    <!-- Manage Connected Accounts -->
    <div class="flex p-3 justify-between justify-centre">
        <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-centre justify-between rounded-full">
            <p>Manage Connected Accounts</p>
        </div>
        <div class="w-1/3 px-10 py-2">
            <button class="bg-pink text-white font-bold py-2 px-4 rounded-full">Manage</button>
        </div>
    </div>

    <!-- Delete Account -->
    <div class="flex p-3 justify-between justify-centre">
        <div class="w-2/3 h-full bg-gray-light px-10 py-2 justify-centre justify-between rounded-full">
            <p class="text-red-500">Delete Account</p>
        </div>
        <div class="w-1/3 px-10 py-2">
            <button class="bg-red-500 text-white font-bold py-2 px-4 rounded-full">Delete</button>
        </div>
    </div>

</div>
