.navbar-container {
    position: fixed;
    top: .1%;
    left: 4%;
  }
  
  .btn {
    @apply font-bold py-2 px-4 rounded-3xl border-2;
  }
  .btn-dark {
    @apply bg-gray-200 text-stone-900 border-stone-900;
  }
  
  .btn-light {
    @apply bg-stone-900 text-white border-stone-900;
  }
  
  .scrollable-cards {
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
  }
  
  .scrollable-cards::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .dark .scrollable-cards {
    --scrollbar-thumb: white;
  }
  
  .light .scrollable-cards {
    --scrollbar-thumb: black;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-image {
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  
  .profile-container {
    display: flex;
    height: 80%;
    justify-content: center;
    width: 100%;
  }
  
  .profile {
    width: 79%;
    max-width: 79%;
    min-width: 79%;
    height: 82%;
  }
  
  :root {
    --card-width: 20vw;
    --card-height: 30vh;
  }
  
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  
  @media (max-width: 600px) {
    :root {
      --card-width: 80vw;  /* Adjusted for small screens */
      --card-height: 40vh;  /* Adjusted for small screens */
    }
  
    .profile-container {
      flex-direction: column;
      align-items: center;
    }
  
    .profile {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }
  
    .profile img {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }
  
    .profile .card-content {
      align-items: flex-start;
      text-align: left;
    }
  
    .scrollable-cards {
      flex-direction: column;
    }
  }
  
  