<div *ngIf="screenSize === 'desktop'">
  <div class="flex flex-col p-6 bg-gray-veryDark bg-opacity-50 rounded-lg max-w-screen-lg">
    <!-- Artist Header Section with Image -->
    <div class="relative w-full mb-10">
      <app-back-button class="absolute left-0"></app-back-button>
      <div class="text-5xl text-white font-bold text-center">{{ artist.name }}</div>
    </div>

    <!-- Artist Info Section (Image, Description, Genres) -->
    <div class="flex items-start w-full mb-10 space-x-6">
      <!-- Artist Image -->
      <div class="w-56 flex-shrink-0">
        <img [src]="artist.image" alt="{{ artist.name }}" class="w-full h-full object-cover rounded-lg shadow-md">
      </div>

      <!-- Artist Description and Genres -->
      <div class="text-gray-verylight flex-grow">
        <p class="mb-4">{{ artist.description }}</p>
        <div class="text-lg font-semibold text-white">Genres: {{ artist.genres.join(', ') }}</div>
      </div>
    </div>

    <!-- Top Songs Section -->
    <div class="w-full text-gray-verylight mb-10">
      <h2 class="text-2xl font-bold mb-4 text-pink">Top Songs</h2>
      <div class="flex space-x-4 overflow-x-auto scrollable-cards overflow-hidden px-3">
        <ng-container *ngFor="let song of artist.topSongs">
          <div (click)="playSong(song)">
            <app-top-card
              [imageUrl]="getAlbumArt(song)"
              [text]="song"
              [secondaryText]="' '">
            </app-top-card>
            <div class="card-style bg-stone-950"></div>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Albums Section -->
    <div class="w-full text-gray-verylight mb-10">
      <h2 class="text-2xl font-bold mb-4 text-pink">Albums</h2>
      <div class="flex space-x-4 overflow-x-auto scrollable-cards overflow-hidden px-3">
        <ng-container *ngFor="let album of artist.albums">
          <div (click)="viewAlbum(album)">
            <app-top-card
              [imageUrl]="getAlbumArt(album)"
              [text]="album"
              [secondaryText]="''">
            </app-top-card>
            <div class="card-style bg-stone-950"></div>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Playlists Section -->
    <div class="w-full text-gray-verylight mb-10">
      <h2 class="text-2xl font-bold mb-4 text-pink">Playlists</h2>
      <div class="flex space-x-4 overflow-x-auto scrollable-cards overflow-hidden px-3">
        <ng-container *ngFor="let playlist of artist.playlists">
          <div (click)="viewPlaylist(playlist)">
            <app-top-card
              [imageUrl]="getAlbumArt(playlist)"
              [text]="playlist"
              [secondaryText]="''">
            </app-top-card>
            <div class="card-style bg-stone-950"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
