<div class="col-start-1 col-span-5 row-start-2 row-span-4" style="height: 72vh;">
    <div  class="rounded-lg overflow-hidden h-full relative p-8">

    <div class="flex items-center justify-between">
        <app-back-button class="flex-shrink-0"></app-back-button>
        <p class="flex-grow text-3xl font-semibold text-white text-center">{{title}}</p>
    </div>


        <div class="grid grid-cols-5 gap-y-8 pt-16">
            <div *ngFor="let album of albums" class="album-art flex flex-col items-center hover:cursor-pointer group">
                <div class="relative">
                    <img [src]="album.imageUrl" alt="{{ album.title }}" class="w-32 h-32 object-cover rounded-md">
                    <app-play-icon [switchMood]="false" (click)="playTrack(album.title,album.artist)" [width]="'7vh'" class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100">
                    </app-play-icon>
                </div>
                <p class="text-center text-white text-lg font-semibold">{{ album.title }}</p>
                <p class="text-center text-sm text-white text-gray-500">{{ album.artist }}</p>
            </div>
        </div>
    </div>
</div>