<div class="fixed z-10 w-[42vh]" style="--tw-h: 75vh; left: 1vw; top: 10.2vh;">
  <div class="container px-2">
    <div class="rounded-md h-full">
      <div  [ngClass]="moodComponentClasses[moodService.getCurrentMood()]" class=" rounded-lg overflow-auto h-full flex flex-col justify-between scrollbar-hidden">
        <div class="flex flex-col h-full text-gray-background dark:text-gray-verylight">
          <div class="info-section">
            <!-- Info content -->
            <div>
              <img [src]="artist.image" alt="{{ artist.name }}" class="w-full h-48 object-cover rounded-lg mb-4">
              <h2 class="text-3xl text-pink font-bold mb-2">About</h2>
              <p>{{ artist.description }}</p>
              <br/>
              <p><strong>Genres:</strong> {{ artist.genres.join(', ') }}</p>
              <br/>
              <p><strong>Artists Like Them:</strong> {{ artist.similarArtists.join(', ') }}</p>
            </div>
          </div>
          
          <!-- <div class="top-songs-section mt-4"> -->
            <!-- Top Songs content -->
            <!-- <h2 class="text-xl font-bold mb-2">{{ artist.name }}'s Top Songs</h2> -->
            <!-- <ul> -->
              <!-- <li *ngFor="let song of artist.topSongs; let i = index">{{i+1}}. {{ song }}</li> -->
            <!-- </ul> -->
          <!-- </div> -->
          
        </div>
      </div>
    </div>
  </div>
</div>