<div class="flex flex-col">
  <div class="flex overflow-x-auto py-4" style="overflow-x: visible; overflow-y: hidden; white-space: nowrap; width: 100%; scroll-behavior: smooth; scrollbar-width: none;">
    <app-big-rounded-square-card  class="group cursor-pointer" *ngFor="let mood of moods" [mood]="mood" style="display: inline-block; margin-right: 10px;">  
      <div class="group">
        <app-play-icon class="hidden group-hover:block cursor-pointer" (click)="onMoodClick($event)" [mood]="mood.name"></app-play-icon>
      </div>
    </app-big-rounded-square-card>
  </div>
</div>
