<!-- <div class="bg-white dark:bg-zinc-800 shadow-md rounded-lg p-6 mx-auto sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">
    <h2 class="text-lg font-semibold mb-2">{{ title }}</h2>
    <div class="flex flex-col sm:flex-row items-center justify-between mb-4">
        <img [src]="currentSong.imageUrl" alt="Song" class="rounded-full" />
        <div class="mt-2 sm:mt-0 sm:ml-2">
            <p class="text-sm text-zinc-600 dark:text-zinc-400">Currently Listening To:</p>
            <p class="font-semibold">{{ currentSong.title }}</p>
        </div>
    </div>
    <h3 class="text-base font-semibold mb-2">Recommended Songs</h3>
    <div class="mb-4">
        <label for="category" class="block text-sm font-medium text-gray-700">Select a category</label>
        <select id="category" name="category" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option *ngFor="let category of categories">{{ category }}</option>
        </select>
    </div>
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-4" *ngFor="let song of recommendedSongs">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                <img class="h-48 w-full object-cover md:w-48" src="https://place-hold.it/300x500" alt="Song image">
            </div>
            <div class="p-8">
                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Song title</div>
                <p class="mt-2 text-gray-500">Song description...</p>
                <p class="mt-2 sm:mt-0 sm:ml-2">{{ song.title }}</p>
                <p class="mt-2 sm:mt-0 sm:ml-2">{{ song.bpm }}bpm</p>
                <p class="mt-2 sm:mt-0 sm:ml-2">Theme:{{ song.theme }}</p>
                <p class="mt-2 sm:mt-0 sm:ml-2">Mood:{{ song.mood }}</p>
            </div>
        </div>
    </div>

</div>

 -->
